.light-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  font-size: 30px;
  background-color: #ffffff;
  color: #3a80ba;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.light-icon-button:hover {
  color: #084577;
}

.light-icon-button:disabled {
  color: #f1f1f1;
}
