$mediumScreenWidth: 1024px;

.filter-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;

  .wrapper {
    display: flex;
    align-items: center;
    width: 381px;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    margin-right: 12px;
    padding: 2px 16px;
  }

  .search {
    border: none;
    outline: none;
    width: 237px;
    height: 48px;
    height: 32px;
    border-radius: 10px 0 0 10px;
    border-right: 1px solid #f1f1f1;
    padding-right: 0.5em;
  }

  .filter {
    border: none;
    height: 46px;
    background-color: #ffffff;
    outline: none;
    color: #1a1a1a;
  }

  .search-button {
    width: 48px;
    height: 48px;
    background-color: #3a80ba;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
  }

  .search-button:hover {
    background-color: #4b89bb;
  }
}

@media only screen and (min-width: $mediumScreenWidth) {
  .filter-block {
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 16px;
  }
}
