@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

$mediumScreenWidth: 1024px;

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-weight: 400;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

main,
header,
footer {
  padding: 0 5px;
}

@media only screen and (min-width: $mediumScreenWidth) {
  main,
  header,
  footer {
    padding: 0 10%;
  }
}
